Trabalho3/CentralService/OrganizationClient/Service References/CentralService/CentralService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CentralService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_ICentralSupplierService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_ICentralOrganizationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6506/CentralService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6506/CentralService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6506/CentralService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.Types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICentralSupplierService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="ICentralSupplierService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralSupplierService_SignOut_InputMessage">
    <wsdl:part name="parameters" element="tns:SignOut" />
  </wsdl:message>
  <wsdl:message name="ICentralSupplierService_SignOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignOutResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralSupplierService_RegisterSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSupplier" />
  </wsdl:message>
  <wsdl:message name="ICentralSupplierService_RegisterSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralSupplierService_UnregisterSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterSupplier" />
  </wsdl:message>
  <wsdl:message name="ICentralSupplierService_UnregisterSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralSupplierService_GetSupplierInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierInfo" />
  </wsdl:message>
  <wsdl:message name="ICentralSupplierService_GetSupplierInfo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralSupplierService_NewContest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NewContest" />
  </wsdl:message>
  <wsdl:message name="ICentralOrganizationService_CreateContest_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateContest" />
  </wsdl:message>
  <wsdl:message name="ICentralOrganizationService_CreateContest_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateContestResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralOrganizationService_GetPossibleSuppliers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleSuppliers" />
  </wsdl:message>
  <wsdl:message name="ICentralOrganizationService_GetPossibleSuppliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralOrganizationService_GetOrganizationInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationInfo" />
  </wsdl:message>
  <wsdl:message name="ICentralOrganizationService_GetOrganizationInfo_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationInfoResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ICentralSupplierService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralServiceForDualCommunication/SignIn" message="tns:ICentralSupplierService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralServiceForDualCommunication/SignInResponse" message="tns:ICentralSupplierService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="SignOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralServiceForDualCommunication/SignOut" message="tns:ICentralSupplierService_SignOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralServiceForDualCommunication/SignOutResponse" message="tns:ICentralSupplierService_SignOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralSupplierService/RegisterSupplier" message="tns:ICentralSupplierService_RegisterSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralSupplierService/RegisterSupplierResponse" message="tns:ICentralSupplierService_RegisterSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UnregisterSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralSupplierService/UnregisterSupplier" message="tns:ICentralSupplierService_UnregisterSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralSupplierService/UnregisterSupplierResponse" message="tns:ICentralSupplierService_UnregisterSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetSupplierInfo">
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralSupplierService/GetSupplierInfo" message="tns:ICentralSupplierService_GetSupplierInfo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralSupplierService/GetSupplierInfoResponse" message="tns:ICentralSupplierService_GetSupplierInfo_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NewContest">
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralSupplierService/NewContest" message="tns:ICentralSupplierService_NewContest_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="ICentralOrganizationService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralServiceForDualCommunication/SignIn" message="tns:ICentralSupplierService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralServiceForDualCommunication/SignInResponse" message="tns:ICentralSupplierService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="SignOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralServiceForDualCommunication/SignOut" message="tns:ICentralSupplierService_SignOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralServiceForDualCommunication/SignOutResponse" message="tns:ICentralSupplierService_SignOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateContest">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralOrganizationService/CreateContest" message="tns:ICentralOrganizationService_CreateContest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralOrganizationService/CreateContestResponse" message="tns:ICentralOrganizationService_CreateContest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetPossibleSuppliers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralOrganizationService/GetPossibleSuppliers" message="tns:ICentralOrganizationService_GetPossibleSuppliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralOrganizationService/GetPossibleSuppliersResponse" message="tns:ICentralOrganizationService_GetPossibleSuppliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetOrganizationInfo">
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralOrganizationService/GetOrganizationInfo" message="tns:ICentralOrganizationService_GetOrganizationInfo_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralOrganizationService/GetOrganizationInfoResponse" message="tns:ICentralOrganizationService_GetOrganizationInfo_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_ICentralSupplierService" type="tns:ICentralSupplierService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_ICentralSupplierService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap12:operation soapAction="http://tempuri.org/ICentralServiceForDualCommunication/SignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap12:operation soapAction="http://tempuri.org/ICentralServiceForDualCommunication/SignOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterSupplier">
      <soap12:operation soapAction="http://tempuri.org/ICentralSupplierService/RegisterSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterSupplier">
      <soap12:operation soapAction="http://tempuri.org/ICentralSupplierService/UnregisterSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplierInfo">
      <soap12:operation soapAction="http://tempuri.org/ICentralSupplierService/GetSupplierInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewContest">
      <soap12:operation soapAction="http://tempuri.org/ICentralSupplierService/NewContest" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_ICentralOrganizationService" type="tns:ICentralOrganizationService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_ICentralOrganizationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap12:operation soapAction="http://tempuri.org/ICentralServiceForDualCommunication/SignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap12:operation soapAction="http://tempuri.org/ICentralServiceForDualCommunication/SignOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContest">
      <soap12:operation soapAction="http://tempuri.org/ICentralOrganizationService/CreateContest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPossibleSuppliers">
      <soap12:operation soapAction="http://tempuri.org/ICentralOrganizationService/GetPossibleSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationInfo">
      <soap12:operation soapAction="http://tempuri.org/ICentralOrganizationService/GetOrganizationInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CentralService">
    <wsdl:port name="WSDualHttpBinding_ICentralSupplierService" binding="tns:WSDualHttpBinding_ICentralSupplierService">
      <soap12:address location="http://localhost:6506/CentralService.svc/Suppliers" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:6506/CentralService.svc/Suppliers</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_ICentralOrganizationService" binding="tns:WSDualHttpBinding_ICentralOrganizationService">
      <soap12:address location="http://localhost:6506/CentralService.svc/Organizations" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:6506/CentralService.svc/Organizations</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>