Trabalho3/CentralService/Service References/ProductsService/ProductosService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25262/ProductosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25262/ProductosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:25262/ProductosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.Types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductosService_AcceptProposal_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptProposal" />
  </wsdl:message>
  <wsdl:message name="IProductosService_RejectProposal_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectProposal" />
  </wsdl:message>
  <wsdl:message name="IProductosServiceCentral_GetSupplierInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierInfo" />
  </wsdl:message>
  <wsdl:message name="IProductosServiceCentral_GetSupplierInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductosServiceCentral_NewContest_InputMessage">
    <wsdl:part name="parameters" element="tns:NewContest" />
  </wsdl:message>
  <wsdl:portType name="IProductosService">
    <wsdl:operation name="AcceptProposal">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/AcceptProposal" message="tns:IProductosService_AcceptProposal_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectProposal">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosService/RejectProposal" message="tns:IProductosService_RejectProposal_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IProductosServiceCentral">
    <wsdl:operation name="GetSupplierInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosServiceCentral/GetSupplierInfo" message="tns:IProductosServiceCentral_GetSupplierInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductosServiceCentral/GetSupplierInfoResponse" message="tns:IProductosServiceCentral_GetSupplierInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewContest">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductosServiceCentral/NewContest" message="tns:IProductosServiceCentral_NewContest_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductosService" type="tns:IProductosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AcceptProposal">
      <soap:operation soapAction="http://tempuri.org/IProductosService/AcceptProposal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RejectProposal">
      <soap:operation soapAction="http://tempuri.org/IProductosService/RejectProposal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IProductosServiceCentral" type="tns:IProductosServiceCentral">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSupplierInfo">
      <soap:operation soapAction="http://tempuri.org/IProductosServiceCentral/GetSupplierInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewContest">
      <soap:operation soapAction="http://tempuri.org/IProductosServiceCentral/NewContest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductosService">
    <wsdl:port name="BasicHttpBinding_IProductosService" binding="tns:BasicHttpBinding_IProductosService">
      <soap:address location="http://localhost:25262/ProductosService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IProductosServiceCentral" binding="tns:BasicHttpBinding_IProductosServiceCentral">
      <soap:address location="http://localhost:25262/ProductosService.svc/Central" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>